.container1 {
  width: 100%;
  height: auto;
  /* background-color: red; */
}

.heading {
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 40px;
  padding-top: 5px;
  text-decoration: underline;
  /* background: #b9b2b2; */
}

.all-products {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 15px 10px;
  align-items: center;
  flex-wrap: wrap;
}

.view-all-btn {
  height: 50px;
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.view-all-btn button {
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  color: white;
  cursor: pointer;
  background: #000;
}
