nav {
  width: 1200px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
nav img {
  width: 410px;
}

.login-form-container {

  height: auto;
  width: 420px;
  z-index: 1;
  margin: auto;
  margin-top: 30px;
  color: #000;
}

.login-form {
  width: 100%;
  height: inherit;
  padding: 20px;
  padding-bottom: 80px;
  border: 1px solid #ccc;
  background-color: white;
}
.login-form h2 {
  font-weight: 400;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

.input-field {
  position: relative;
  width: 100%;
  margin-top: 20px;
  background-color: white;
}

.input {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  height: 45px;
  border: 1.5px solid #ecedec;
  background: transparent;
  padding-left: 10px;
}
.input:focus {
  border: 1.5px solid #000000;
}

.forgot {
  font-size: 14px;
  color: green;
}
.account {
  margin-top: 20px;
}

.login-form button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: #000;
  border: none;
}

.privacy {
  font-size: 10px;
  width: 300px;
  margin-top: 40px;
}
